<ion-view cache-view="false" view-title="issue-map">
    <ion-content>
        <ui-gmap-google-map center='mapController.map.center' zoom='mapController.map.zoom'>
        </ui-gmap-google-map>
    </ion-content>
</ion-view> 